Source: percona-binlog-server
Maintainer: Percona Development Team <info@percona.com>
Section: misc
Priority: optional
Build-Depends: debhelper-compat (= 13),
               cmake (>= 3.21),
               g++,
               libcurl4-openssl-dev,
               zlib1g-dev,
               libssl-dev,
               libperconaserverclient24-dev
Standards-Version: 4.6.2
Rules-Requires-Root: no

Package: percona-binlog-server
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
         zlib1g,
         percona-server-client
Description: Percona Binary Log Server
 Command line utility that can be considered as an enhanced version of mysqlbinlog.
