#!/usr/bin/make -f

export DH_VERBOSE=1
export DEB_BUILD_MAINT_OPTIONS=hardening=+all

include /usr/share/dpkg/architecture.mk

CODENAME := $(shell . /etc/os-release && echo $$VERSION_CODENAME)

# CMake presets
export BUILD_PRESET_DEBUG=debug_gcc14
export BUILD_PRESET_RELEASE=release_gcc14

SRC_DIR := $(CURDIR)

BOOST_SRC := $(SRC_DIR)/boost
AWS_SRC := $(SRC_DIR)/aws-sdk-cpp
BOOST_INSTALL := $(SRC_DIR)/boost-install-$(BUILD_PRESET_RELEASE)
AWS_INSTALL := $(SRC_DIR)/aws-sdk-cpp-install-$(BUILD_PRESET_RELEASE)

ifeq ($(CODENAME),bullseye)
  CC_BIN := gcc-10
  CXX_BIN := g++-10
else ifneq (,$(filter $(CODENAME),jammy bookworm forky))
  CC_BIN := gcc-13
  CXX_BIN := g++-13
else
  CC_BIN := gcc-14
  CXX_BIN := g++-14
endif

CMAKE_COMMON_ARGS := \
  -DCMAKE_C_COMPILER=$(CC_BIN) \
  -DCMAKE_CXX_COMPILER=$(CXX_BIN)

CMAKE_APP_ARGS := $(CMAKE_COMMON_ARGS) \
  -DCMAKE_PREFIX_PATH="$(AWS_INSTALL);$(BOOST_INSTALL)" \
  -DMYSQL_LIBRARY=/usr/lib/$(DEB_HOST_MULTIARCH)/libperconaserverclient.so

NUMJOBS := $(patsubst parallel=%,%,$(filter parallel=%,$(DEB_BUILD_OPTIONS)))
ifeq (,$(NUMJOBS))
  NUMJOBS := $(shell nproc)
endif

DEBUG_BUILD_DIR := $(SRC_DIR)/build-$(BUILD_PRESET_DEBUG)
RELEASE_BUILD_DIR := $(SRC_DIR)/build-$(BUILD_PRESET_RELEASE)

%:
	dh $@ --buildsystem=cmake

override_dh_auto_configure:

override_dh_auto_build:
	echo "DISTRO: $(CODENAME)  ARCH: $(DEB_HOST_ARCH)  COMPILER: $(CXX_BIN)  JOBS: $(NUMJOBS)"
	cp $(SRC_DIR)/extra/cmake_presets/boost/CMakePresets.json $(BOOST_SRC)/
	cmake $(BOOST_SRC) --preset $(BUILD_PRESET_RELEASE) \
	  -B $(SRC_DIR)/boost-build-$(BUILD_PRESET_RELEASE) $(CMAKE_COMMON_ARGS)
	cmake --build $(SRC_DIR)/boost-build-$(BUILD_PRESET_RELEASE) --parallel $(NUMJOBS)
	cmake --install $(SRC_DIR)/boost-build-$(BUILD_PRESET_RELEASE)
	cp $(SRC_DIR)/extra/cmake_presets/aws-sdk-cpp/CMakePresets.json $(AWS_SRC)/
	cmake $(AWS_SRC) --preset $(BUILD_PRESET_RELEASE) \
	  -B $(SRC_DIR)/aws-sdk-cpp-build-$(BUILD_PRESET_RELEASE) $(CMAKE_COMMON_ARGS)
	cmake --build $(SRC_DIR)/aws-sdk-cpp-build-$(BUILD_PRESET_RELEASE) --parallel $(NUMJOBS)
	cmake --install $(SRC_DIR)/aws-sdk-cpp-build-$(BUILD_PRESET_RELEASE)
	cmake $(SRC_DIR) --preset $(BUILD_PRESET_DEBUG) -B $(DEBUG_BUILD_DIR) \
	  $(CMAKE_APP_ARGS) -DBUILD_TESTING=OFF
	cmake --build $(DEBUG_BUILD_DIR) --parallel $(NUMJOBS)
	$(DEBUG_BUILD_DIR)/binlog_server version
	cmake $(SRC_DIR) --preset $(BUILD_PRESET_RELEASE) -B $(RELEASE_BUILD_DIR) \
	  $(CMAKE_APP_ARGS) -DBUILD_TESTING=ON
	cmake --build $(RELEASE_BUILD_DIR) --parallel $(NUMJOBS)
	$(RELEASE_BUILD_DIR)/binlog_server version

override_dh_auto_test:
ifeq (,$(filter nocheck,$(DEB_BUILD_OPTIONS)))
	cd $(RELEASE_BUILD_DIR) && ctest --output-on-failure
endif

override_dh_auto_install:
	install -D -m 0755 $(RELEASE_BUILD_DIR)/binlog_server \
	  debian/percona-binlog-server/usr/bin/binlog_server
	install -D -m 0755 $(DEBUG_BUILD_DIR)/binlog_server \
	  debian/percona-binlog-server/usr/bin/binlog_server-debug
	install -D -m 0640 main_config.json \
	  debian/percona-binlog-server/etc/percona-binlog-server/main_config.json

override_dh_shlibdeps:
	dh_shlibdeps -- --ignore-missing-info

override_dh_auto_clean:
	rm -rf $(DEBUG_BUILD_DIR) $(RELEASE_BUILD_DIR) \
	  $(SRC_DIR)/boost-build-$(BUILD_PRESET_RELEASE) $(BOOST_INSTALL) \
	  $(SRC_DIR)/aws-sdk-cpp-build-$(BUILD_PRESET_RELEASE) $(AWS_INSTALL)
